html, body, #map {
  height:100%;
  margin:0px;
  padding:0px
}
#searchmap {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 10px 11px 10px 13px;
    text-overflow: ellipsis;
    width: 300px;
}
#searchmap:focus {
    border-color: #4d90fe;
}
