body {
  color: #ffffff;
  background-size:cover;
  margin-top: 40px;
  text-shadow: 3px 3px #000000;
  line-height: 24px;
}
button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-decoration-color: black;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
}
h1 {
  text-align: center;
  margin-top: 50px;
  margin-left: 50px;
  color: #ffffff;
  font-family: 'Abril Fatface', cursive;
}
h2 {
  margin-left: 50px;
  font-family: 'Abril Fatface', cursive;
  color: #ffffff;
}
h3 {
  margin-left: 50px;
  font-family: 'Abril Fatface', cursive;
  color: #ffffff;
}
ul, ol {
  margin-left: 65px;
  padding-bottom: 20px;
  font-family: 'Libre Baskerville', serif;
  color: #ffffff;
}
.newspaper {
    -webkit-columns: 100px 2
    -moz-columns: 100px 2;
    columns: 100px 2;

}
.shadow {
  box-shadow: 0 0px 0px rgba(0,0,0,0.2);
  transition: 0.3s
}
.shadow:hover {
  box-shadow: 0 6px 20px rgba(0,0,0,0.7);
  transition: 0.3s
}
