
/* GLOBAL STYLES */

a {
  text-decoration: none;
}
html, body {
  height:100%;
  margin:0px;
  padding:0px
}
h1 {
  font-family: 'Montserrat', sans-serif;
}
h3 {
  font-family: 'Montserrat', sans-serif;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

/* NAV BAR */

.nav-bar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  position: fixed;
  bottom: 0;
  right: 0;
}
.nav-bar a {
  color: white;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  padding: 10px 30px;
  text-align: center;
  transition: all 0.3s ease;
}
.nav-bar a:hover {
  background-color: #000;
}

/* HOME */

.intro {
  display: inline-block;
  vertical-align: top;
  padding:10% 0;
}
.intro p {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 24pt;
  line-height: 56px;
}
.buttonContainer {
  text-align: center;
  width: 25%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.buttonContainer button {
  display: inline-block;
  background-color: #000;
  border: white;
  color: white;
  font-size: 24px;
  padding: 12px 24px;
  margin: 10px 0px;
  text-align: center;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  transition-duration: 0.3s;
  cursor: pointer;
}
.buttonContainer button:hover {
  background-color: #292929;
}

/* EXPLORE */

#map {
  height: 80%;
}
.contentHeader {
  background-color: #555;
  padding: 0px 25px 10px 25px;
  height: 70px;
}
.contentHeader h3 {
  color: white;
  display: inline-block;
  font-weight: bold;
  vertical-align: top;
}
.contentHeader img {
  display: inline;
  margin: 10px;
}
.searchContainer {
  font-family: 'Montserrat', sans-serif;
  height: 40px;
  float: right;
}
.searchContainer input {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 10px 10px;
  padding: 10px 20px;
  text-overflow: ellipsis;
  width: 300px;
}
.searchContainer input:focus {
  border-color: #4d90fe;
}
.searchContainer button {
  background-color: #1293C2;
  border: none;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 0px 30px 0px 10px;
  padding: 12px 20px;
  text-transform: uppercase;
  transition-duration: 0.3s;
}
.searchContainer button:hover {
  background-color: #1086b2;
}
.searchContainer select {
  appearance: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 20px;
  padding: 10px 20px;
}
.infoWindowTitle {
  font-weight: bold;
}
